.featured_car_detail{
	.carousel{
		ol.carousel-indicators{
			bottom: 0px;
			left: 0px;
			right: inherit;
			margin: 5px 0px;
			li{
				background-color: #d7d7d7;
			}
			li:hover,
			li:active,
			li.active{
				background-color: #d40025;
			}
		}
	}
	
	padding-bottom: 1.5rem;
	clear: both;
}

.rights_cont_def{
	h6{
		font-family: @fira;
		font-size: 19px;
		font-weight: 500;
		color: #4d4d4d;
	}
}

section.product-sec-1 .box-konten-kiri{
	min-height: 1000px;
}

.others_description{
	.back-white{
		background-color: #fff;
		min-height: 25px;
		height: auto;
	}
	.back-grey{
		background-color: #d8dbde;
		min-height: 25px;
		height: auto;
	}
	clear: both;
}


.others_description{
	padding: 0 10px;
	.descriptions_info{
		h3, p{
			display: block;
			margin: 0;
			padding: 0; line-height: 1.2;
			font-family: @fira;
		}
		h3{
			font-size: 25px;
			font-weight: 500;
			color: #c52026;
		}
		p{
			font-size: 14px;
			font-weight: 400;
			color: #6e7072;
			line-height: 1.4;
		}
		.btns_click{
			a.btn{
				font-size: 14px;
				font-weight: 700;
				color: #6e7072;
				text-decoration: underline;
			}
		}
		clear: both;
	}

	clear: both;
}