/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container,
	header.head.headers .container{
		max-width: 100%;
		padding: 0 15px;
	}
	
}

@media (max-width: 1310px){


}

@media (max-width: 1280px){

}

@media (max-width: 1160px){
	
	.container,
	.prelatife.container,
	.prelative.container{
		padding: 0 15px;
		max-width: 100%;
		width: auto;
	}

	section.home-section-1.backs_handsgras,
	section.home-section-4.backs_handswomen{
		background-position: bottom center;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption{
		left: 3%;
		right: 3%;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 25px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 14px;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){

}

@media (max-width : 1080px) { 

	header.head.headers{
		margin-top: 0rem;
		padding-bottom: 1rem;
		height: auto;
		background-color: rgba(255,255,255,1);
		.bg-light{
			background-color: rgba(255,255,255,1) !important;
		}
	}
	.holdes_top{
		height: 90px;
	}
	
}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{
	}

}

@media (max-width : 991px) { 
	


}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding: 0 !important;
		.navbar{
			padding-top: 0.85rem;
			padding-bottom: 0.85rem;
			.navbar-nav>li>a{
				padding-top: 0.2rem;
				padding-bottom: 0.2rem;

				font-family: @mons;
				color: rgba(0,0,0, 0.75);
			}
			.navbar-nav>li:focus>a,
			.navbar-nav>li:hover>a{
				color: rgba(0,0,0, 0.95);
			}
		}
	}

	header.head.headers.morph{
		padding: 0 !important;
		border-bottom-width:3px;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-light .navbar-brand{
		max-width: 275px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}

	.prelative.container{
		padding: 0 15px;
	}

	section.live-chat{
		display: none;
	}

	.calls_wa a,
	.calls_wa span{
		display: block;
	}
	.calls_wa small{
		display: none;
	}
	#back-top{
		bottom: 7%;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs .blocks_bn_bottoms_red .btns{
		width: 165px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p br{
		display: none;
	}

	section.backs_home2.back-grey .default_banner_data .boxed-content{
		padding: 1.5rem 0 0 !important;
		h3{
			font-size: 24px;
			b,strong{
				font-weight: 700;
			}
		}
		p{
			font-size: 15px;
		}
		clear: both;
	}
	section.backs_home3.back-brown .lists_block_woodworking{
		.row{
			margin: 0 -7px;
			.col-md-15{
				padding: 0 7px;
			}
		}

		.boxed_data{
			margin-bottom: 14px;
		}
		clear: both;
	}

	.backs_brown_trees_bottom_pg .inners h5{
		font-size: 22px;
	}
	footer.foot{
		padding-bottom: 3.5rem !important;
	}
	.backs_brown_trees_bottom_pg{
		height: auto;
		background-size: cover;
	}
	footer.foot .inners .t-copyrights,
	footer.foot .inners .t-copyrights.ptop{
		text-align: center !important;
	}
	section.backs_home3.back-brown .py-1.my-1{
		display: none;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs .blocks_bn_bottoms_red{
		right: -12px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item .carousel-caption{
		bottom: 10%;
	}

	// insides

	section.insidespg-cover .insides_intext p{
		font-size: 24px;
	}
	section.insidespg-cover{
		height: 60vh;
	}
	.lgo_smalls{
		img{
			max-width: 200px;
		}
	}

	.content-text h3{
		font-size: 25px;
	}
	.content-text h4{
		font-size: 14px; margin-bottom: 1rem;
	}
	.content-text h5{
		font-size: 20px;
	}
	.content-text p{
		font-size: 15px;
	}
	
	.lists_products_nservice .items,
	section.about-sec-2.backs_about_pillars .lists_pillar_product, section.about-sec-2.backs_about_pillars .lists_pillar_product .items{
		margin-bottom: 2rem;
	}
	section.about-sec-2.backs_about_pillars .lists_pillar_product .items .info h3{
		font-size: 27px;
	}
	section.about-sec-2.backs_about_pillars{
		background: none;	
		background-color: #e3e3dd;
	}
	section.about-sec-2.backs_about_pillars .lists_pillar_product .items .info p{
		font-size: 15px;
	}
	section.about-sec-3.blocks_outer_vision_mission .inners .lists_bloc_vision_mission .texts h3{
		font-size: 36px;
	}
	section.about-sec-3.blocks_outer_vision_mission .inners .lists_bloc_vision_mission .texts p{
		font-size: 15px;
		line-height: 1.4;
	}
	section.about-sec-3.blocks_outer_vision_mission .tops_info_section{
		margin-bottom: 0;
		h4.small{
			margin-bottom: 0;
		}
	}
	section.about-sec-3.blocks_outer_vision_mission .inners .lists_bloc_vision_mission .texts{
		margin: 1.5rem 0;
	}
	.lists_qualitys_icon .items .info h4{
		font-size: 19px;
	}
	.lists_products_nreferences .items .info h4{
		font-size: 17px;
	}
	section.insidespg-cover{
		background-position: center;
	}
	.blocks_info_contact{
		.info{
			padding: 1.3rem 0 0 !important;
			text-align: left !important;
		}
	}

	section.about-sec-3.blocks_outer_vision_mission .inners .lists_bloc_vision_mission .border-r{
		border-right: 0;
		border-bottom: 1px solid #fff;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}