@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
// font-family: 'PT Sans', sans-serif;

@amiri : 'Amiri', sans-serif;
@ptsans : 'PT Sans Caption', sans-serif;
@mons : 'Montserrat', sans-serif;
@ptsans : 'PT Sans Caption', sans-serif;
@ptsans2 : 'PT Sans', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
    font-family: @amiri;
}

h1,h2,h3,h4,h5,h6,p,a, div{
    font-family: @amiri;
    margin-bottom: 0;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1078px;
    margin: 0 auto;
    position: relative;
}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
    .container{
        max-width: 1605px;
        width: auto;
        margin: 0 auto;
    }
    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
        .carousel-caption{
            left: 0; right: 0;
            bottom: 20%;
            top: inherit;
        }
      }

      .carousel-button-native{
        position: absolute;
        width: 100%;
        bottom: 1%;
        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: 100%;
          text-align: center;
          justify-content: center;

          li{
            border-radius: 3px;
            background: #5e4c4c;
            width: 24px;
            height: 5px;
            cursor: pointer;
          }
          li.active{
            background: #ffffff;
          }
          left: inherit;
        }
      }

      .carousel-caption{
        .bxsl_tx_fcs{
            h3{
                font-family: @mons;
                font-size: 10px;
                font-weight: 700;
                color: #fff;
                padding-bottom: 0.45rem;
            }
            p{
                font-family: @amiri;
                font-size: 21px;
                font-weight: 400; 
                color: #ffffff; line-height: 1.35;
            }
            max-width: 565px;
            padding: 1.7rem 2rem;
            background-color: rgba(50,23,4, 0.65);

            .blocks_bn_bottoms_red{
                position: absolute; bottom: -55px; right: -55px;
                z-index: 7;
                .btns{
                    background-color: #9c1c1f;
                    width: 218px; height: 55px;
                    float: left;
                    text-align: center;
                    padding-top: 0.8rem; 

                    -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow:    4px 4px 15px 0px rgba(0, 0, 0, 0.3);
                    box-shadow:         4px 4px 15px 0px rgba(0, 0, 0, 0.3);
                    a{
                        padding: 0 !important; border-radius: 0px;
                        letter-spacing: 1px; text-transform: uppercase;
                        font-family: @mons;
                        font-size: 10px; font-weight: 700; color: #fff;
                        text-decoration: none;
                        padding-bottom: 0.2rem;
                        border-bottom: 1px solid #fff;
                    }
                    a:hover,a:focus{
                        text-decoration: none;
                    }
                }
                .blc2{
                    background-color: #6c0e10;
                }
                .btns.blc1:hover,
                .btns.blc1:focus{
                    background-color: #93191C;
                }
                .btns.blc2:hover,
                .btns.blc2:focus{
                    background-color: #440607;
                }
            }
        }
        clear: both;
      }

    }
  }

header.head.headers.morph{
    clear: both;
    .logo_heads{
        img{
            max-width: 285px;
        }
        padding-top: 0 !important;
    }
    .tops_iso{
        display: none;
    }
    .prelative.container.d-none.d-sm-block{
        padding-top: 0 !important;
        .top-menu{
            padding-top: 0rem;
            ul.list-inline{
                li{
                    a{
                        font-family: @mons;
                        font-weight: 700; color: #454545;
                        font-size: 14px !important;
                    }
                }
                list-style: none;
            }
        }
    }
    padding: 1.4rem 0 !important;
    border-bottom: 5px solid #900;
    height: auto;
    background-color: rgba(255,255,255, 0.9);
    margin-top: 0;
}

header.head.headers{
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition-duration: 0.6s;

    height: auto;
    background-color: rgba(255,255,255, 0.8);
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-top: 1.25rem;

    .container{
        max-width: 1605px;
        width: auto;
        margin: 0 auto;
    }

    .prelative.container.d-none.d-sm-block{
        .logo_heads{
            img.img.img-fluid{
                // width: 83%;
            }
        }
        .top-menu{
            padding-top: 0.75rem; 
            ul.list-inline{
                text-align: right;
                margin: 0;
                li{
                    a{
                        font-family: @mons;
                        font-weight: 700; color: #454545;
                        font-size: 14px !important;
                    }
                    margin-right: 20px;
                }
                li:last-child{
                    margin-right: 0;
                }
                li.active,
                li:hover{
                    a{
                        color: #990024;
                        text-decoration: none;
                    }
                }
            }
        }

        .tops_iso{
            .menus-child{
                ul{
                    margin: 0; text-align: right;
                    li{
                        a{
                            font-size: 12px; font-weight: 700; color: #555555;
                            text-transform: uppercase;
                        }
                        a:hover,
                        a:focus{
                            color: #990024;
                            text-decoration: none;
                        }
                    }
                    .list-inline-item:not(:last-child) {
                        margin-right: 0.9rem;
                    }
                }
                padding-top: 0.65rem; 
                clear: both;
            }
            .infos_block{
                background: url('../images/new/backs_tops_headrs_human.png') no-repeat;
                width: 299px;
                height: 66px;
                position: relative;
                z-index: 1;
                display: inline-block;
                vertical-align: bottom;
                margin-top: -17px;
                padding-top: 2.2rem;
                padding-right: 4rem;
                text-align: left;
                span{
                    font-size: 12px;
                    font-weight: 700; color: #000;
                }
                a{
                    font-size: 12px; font-weight: 700; color: #2a1770;
                    i.fan_wa{
                        display: inline-block; content: '';
                        vertical-align: middle;
                        background: url('../images/new/wa-heads.png');
                        width: 22px; height: 22px;
                        position: relative;
                        top: -3px;
                    }
                }
                a:hover,
                a:focus{
                    text-decoration: none;
                    color: #000;
                }
            }
            clear: both;
        }
        clear: both;
    }

    .texts_languages{
        font-family: @mons;
        font-size: 13px; font-weight: 700;
        color: #454545;
        a{
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-family: @mons;
            font-size: 13px; font-weight: 700;
            color: #454545;
        }
    }

    clear: both;
}

section.backs_home1{
    .inners{
        .lgo_dx_centers{
            img{}
        }
        h3, p{
            display: block;
            margin: 0; padding: 0; line-height: 1;
            font-family: @amiri;
        }
        h3{
            font-family: @amiri;
            font-size: 26px; font-weight: 400; color: #cb0008;
        }
        p{
            font-family: @amiri;
            font-size: 16px; font-weight: 400; color: #595959;
            line-height: 1.5;
            a.views_video{
                display: block;
                margin-top: 0.8rem;
                font-size: 18px; font-weight: 700; color: #cb0008;
            }
        }
        clear: both;
    }
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    clear: both;
}

section.backs_home2.back-grey{
    position: relative;
    z-index: 4;
    background-color: #e3e3dd;
    -webkit-box-shadow: 7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         7px 7px 17px 0px rgba(0, 0, 0, 0.3);
    h5.small-titles{
        color: #595959;
    }

    .default_banner_data{
        .boxed-content{
            h3, p{
                font-family: @amiri;
            }
            h3{
                font-size: 31px; font-weight: 400; color: #9c1c1f;
                b,strong{
                    font-weight: 700;
                }
                padding-bottom: 0.8rem;
            }
            p{
                font-size: 16px; font-weight: 400; color: #595959;   
            }
        }
        .picture{
            img{
                position: relative; z-index: 2;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
                -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.35);
                box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.35);
            }
        }
        clear: both;
    }

}

section.backs_home3.back-brown{
    position: relative; z-index: 2;
    h5.small-titles{
        color: #fff;
    }

    .lists_block_woodworking{
        .boxed_data{    
            img{
                position: relative;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
                -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.35);
                box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.35);
            }
            .texts{
                span{
                    font-family: @amiri; font-size: 16px; font-weight: 700; color: #fff;
                    font-style: italic;
                    display: block;
                    line-height: 1;
                }
                position: absolute;
                bottom: 0; left: 0;
                z-index: 8;
                padding-bottom: 0.7rem; 
                padding-left: 1rem;
            }
        }
        clear: both;
    }

    background-color: #6c0e10;
    clear: both;
}

.backs_brown_trees_bottom_pg{
    .bxs_text{
        max-width: 500px;
    }
    .inners{
        h5{
            font-size: 400px; font-size: 30px;
            font-family: @ptsans; color: #fff;
            b,strong{ font-weight: 700; }
        }
        .br_right{
            border-right: 1px solid #fff;
        }
        .box_text{
            span, a{
                font-family: @ptsans2;
            }
            line-height: 1.6;
            span{
                font-size: 15px; font-weight: 400; color: #fff;
                display: block;
            }
            a{
                font-size: 15px; font-weight: 700; color: #fff;
                text-decoration: none;
            }
            clear: both;
        }
        clear: both;
    }
    height: 240px;
    background-size: cover;
    background: url('../images/backs-blocks_footrs.jpg') no-repeat;
    background-size: cover; 
    clear: both;
}

h5.small-titles{
    display: block;
    margin: 0;
    font-family: @mons;
    font-size: 16px; font-weight: 700;
    line-height: 1;
}

footer.foot{
    .inners{
        address.n_foots{
            font-size: 11px;
            font-weight: 400; color: #676767;
            font-family: @ptsans2;
        }

        .t-copyrights.ptop{
            font-size: 14px;
            padding-top: 0.6rem;
        }
        .t-copyrights{
            font-size: 11px;
            font-weight: 400; color: #676767;
            font-family: @ptsans2;   
            a{
                font-weight: 700; color: #676767;
                text-decoration: none;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                color: #000;
            }
        }
        clear: both;
    }
}

.clearfix,
.clear{
    clear: both;
}
section.live-chat {
    position: fixed;
    right: 0;
    top: 60%;
}
.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}

#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit!important;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-bottom: 0;
    display: none;
    i.fa {
        color: #565656;
    }
}

@import 'subpage.less';
@import 'n_media_styles.less';