
@amiri : 'Amiri', sans-serif;
@ptsans : 'PT Sans Caption', sans-serif;
@mons : 'Montserrat', sans-serif;
@ptsans : 'PT Sans Caption', sans-serif;
@ptsans2 : 'PT Sans', sans-serif;

section.insidespg-cover{
	.inners_cover{

	}
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative; z-index: 2;
	// background: url('../images/banner-hero-dinning1.jpg') no-repeat;
}
section.insidespg-cover {
	display: table; vertical-align: middle;
	width: 100%;
	// height: 100%;

	.outers_block_inner{
		display: table-cell; vertical-align: middle;
		width: 100%;
		height: 100%;
	}

	.insides_intext{
		text-align: center;
		h3{
			text-transform: uppercase;
			font-family: @mons;
			font-size: 14px; font-weight: 700; color: #fff; line-height: 1;
			letter-spacing: 1px;
			margin-bottom: 0.15rem !important;
		}
		p{
			font-family: @amiri;
			font-size: 32px; font-weight: 300; color: #fff;
			line-height: 1.35;
		}
		max-width: 690px;
		margin: 0 auto;
		clear: both;
	}
	clear: both;
}

.lines-grey-vertical{
	width: 1px;
	height: 98px;
	background-color: #ccc;
}

section.quality-sec-1,
section.about-sec-1{
	// min-height: 519px; 
	height: auto;
	width: 100%;
	min-height: 500px; height: auto;

	-webkit-box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	position: relative; 
	z-index: 6;
}

section.about-sec-2.backs_about_pillars{
	position: relative; 
	z-index: 4;
	background:#e3e3dd url('../images/backs_cover_pillar_about.jpg') bottom center no-repeat;
	background-size: cover;
	width: 100%; min-height: 1765px; height: auto;

	.lists_pillar_product{
		.items{
			.pictures{
				img{
					-webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
					-moz-box-shadow:    1px 1px 8px 0px rgba(0, 0, 0, 0.3);
					box-shadow:         1px 1px 8px 0px rgba(0, 0, 0, 0.3);
				}
			}
			.info{
				h3{
					font-size: 31px; font-weight: 700; color: #9c1c1f;
					padding-bottom: 0.8rem;
				}
				p{
					font-size: 17px; font-weight: 400; color: #595959;
					line-height: 1.4;
				}
				clear: both;
			}
			clear: both;
		}
		clear: both;
	}

	clear: both;
}
.tops_info_section{
	h4.small{
		display: block;
		margin: 0; margin-bottom: 0.8rem;
		font-family: @mons;
		font-size: 16px; font-weight: 700; color: #595959;
	}
	h3{
		font-family: @amiri;
		font-size: 29px; font-weight: 400; color: #cb0008;
	}
	margin-bottom: 1.5rem;
}

section.about-sec-3.blocks_outer_vision_mission{
	.inners{
		.tops_info_section{
			h4{
				color: #fff;
			}
		}

		.lists_bloc_vision_mission{
			.texts{
				h3{
					font-family: @amiri;
					font-size: 50px; font-weight: 400; color: #fff;
					margin-bottom: 0.45rem;
				}
				p{
					font-family: @amiri;
					font-size: 17px; font-weight: 400; color: #fff;
				}
				padding-left: 1.5rem; 
				padding-right: 1.5rem;
				clear: both;
			}
			.border-r{
				border-right: 1px solid #fff;
			}
			clear: both;
		}
		clear: both;
	}
	background-color: #6c0e10;
	color: #fff;
	// padding-bottom: 0 !important;
	clear: both;
}

section.product-sec-1{
	background-color: #fff;
	color: #595959 ;

	-webkit-box-shadow: 7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         7px 7px 14px 0px rgba(0, 0, 0, 0.35);
	position: relative; 
	z-index: 6;
	clear: both;
}
section.product-sec-2{
	background-color: #e3e3dd;
	color: #595959;
	clear: both;
}

.lists_products_nservice{
	.items{
		.picture{
			img{}
		}
		.info{
			padding-top: 1.2rem;
			h4{
				font-family: @amiri;
				font-size: 22px; font-weight: 700; color: #787878;
				margin-bottom: 0.5rem;
			}
			p{
				font-family: @amiri;
				font-size: 16px; font-weight: 400; color: #595959;	
				line-height: 1.5;
				clear: both;
			}
			clear: both;
		}
	}
}

.lists_products_nreferences{
	.items{
		.picture{
			img{
				-webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.35);
				-moz-box-shadow:    4px 4px 15px 0px rgba(0, 0, 0, 0.35);
				box-shadow:         4px 4px 15px 0px rgba(0, 0, 0, 0.35);
			}
		}
		.info{
			padding-top: 1.3rem;
			h4{
				font-family: @amiri;
				font-size: 17px; font-weight: 700; color: #787878;
			}
			clear: both;
		}
	}
}

.lists_qualitys_icon{
	.items{
		.info{
			h4{
				font-size: 26px; font-weight: 700; color: #787878;
			}
		}
		clear: both;
	}
	clear: both;
}

section.quality-sec-2{
	background-color: #e3e3dd;
}

.lists_products_nreferences{
	.items{
		.picture{
			img{
				-webkit-box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.3);
				-moz-box-shadow:    3px 3px 13px 0px rgba(0, 0, 0, 0.3);
				box-shadow:         3px 3px 13px 0px rgba(0, 0, 0, 0.3);
			}
		}
		.info{
			h4{
				font-size: 20px; font-weight: 700; color: #787878;
			}
			padding: 1rem 1rem;
		}

		margin-bottom: 1rem;
		clear: both;
	}
	clear: both;
}

.content-text{
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		font-family: @amiri;
	}

	h2{
		font-size: 16px;
		font-weight: 700;
		color: #555555;
		margin-bottom: 1.7rem;
	}
	h4{
		font-family: @mons;
		font-size: 16px;
		font-weight: 700;
		color: #595959;
		margin-bottom: 1.4rem;
	}
	h3{
		font-size: 29px;
		font-weight: 400;
		color: #cb0008;
		margin-bottom: 1.4rem;
	}
	h5{
		font-size: 24px;
		font-weight: 400;
		color: #595959;
		margin-bottom: 1.5rem;
	}
	
	p{
		font-family: @amiri;
		font-size: 18px;
		font-weight: 400;
		color: #595959;
		line-height: 1.5;

		margin-bottom: 20px;
		a{
			text-decoration: none;
			font-size: 18px;
			font-weight: 400;
			color: #595959;
		}
	}

	ul{
		li{
			font-size: 15px;
			font-weight: 400;
			color: #555555;
		}
	}
}

section.outers-contact-block-1{
	.inners-default-content.block-contact{
		.sub-title{
			font-size: 16px; font-weight: 700; color: #555555;
		}
		.content-text{
			h5{
				font-size: 20px; font-weight: 700; color: #990024; line-height: 1; 
				display: block;
				margin-bottom: 0.5rem;
			}
			p{
				font-size: 15px; font-weight: 700; color: #555555; line-height: 1; 
				display: block;
			}
			clear: both;
		}
		clear: both;
	}
}

.blocks_info_contact{
	.picture{
		img{
			-webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
			-moz-box-shadow:    1px 1px 8px 0px rgba(0, 0, 0, 0.35);
			box-shadow:         1px 1px 8px 0px rgba(0, 0, 0, 0.35);
		}
	}
	.info{
		h4{
			font-family: @mons;
			font-size: 16px; font-weight: 700; color: #595959;
			margin-bottom: 0.8rem;
		}
		p{
			font-size: 18.5px; font-weight: 400; color: #595959;
			line-height: 1.5;
			margin-bottom: 1rem;
			display: block;
			b,strong{ font-weight: 700; }
			a.cl_map{
				font-size: 18.5px; font-weight: 700;
				color: #950000;
				text-decoration: none;
			}
			a{
				color: #595959;
				text-decoration: none;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #000;
			}
		}
	}
}

.inners_form_contact{
	.tl-contact-form{
		.form-group{
			label{

			}
			input,
			textarea{
				font-size: 16px; font-weight: 700; color: rgba(85,85,85, 0.5);
				border: 0px; border-radius: 0px;
				border-bottom: 1px solid #999999;
			}
			input{}
		}
		button{
			position: relative;
			background: url('../images/new/backs_btn_contact_ll.png') no-repeat;
			background-size: cover;
			width: 163px; height: 41px;
		}
	}
}

i.fan_wa{
	display: inline-block;
	vertical-align: top;
	background: url('../images/new/wa-heads.png') no-repeat;
	background-size: cover;
	width: 22px; height: 22px;
}

.blocks_listproduct_categorys.product_pg{
	.blocks_list{
		.titles{
			font-size: 21px; font-weight: 700; color: #990024;
			text-decoration: none;
		}

		.lists_data_categorys{
			.items{
				.picture{
					img{}
				}
				.info{
				padding-top: 1rem;	
					h3{
						display: block;
						margin: 0; line-height: 1;
						font-size: 18px; font-weight: 700; color: #383838;
						a{
							text-decoration: none;
							color: #383838;							
						}
					}
				}
				margin-bottom: 1.2rem;
			}
		}
		// end list data

		clear: both;
	}
	clear: both;
}

.blocks_product_details{
	.tops_titles{
		h5{
			font-family: @mons;
			font-size: 22px; font-weight: 600; color: #4f4f4f;
		}
		h2.title{
			font-family: @mons;
			font-size: 30px; font-weight: 700; color: #990024;
		}
	}
	.middles{
		.pictures{
			img{}
		}
		.descriptions{
			h6, p, ul li, ol li{
				font-family: @mons;
			}
			h6{
				display: block;
				margin-bottom: 0.5rem; padding: 0; text-transform: uppercase;
				font-size: 15px; font-weight: 600; color: #383838;
			}
			p{
				font-size: 14px; font-weight: 500; color: #383838;
				margin-bottom: 0 !important;
			}
			ol li,
			ul li{
				font-size: 14px; font-weight: 500; color: #383838;
				padding-bottom: 0.25rem;
			}
			clear: both;
		}
	}
	
	clear: both;
}